<% provide :title, t(".contact") %>
<div class="center jumbotron">
  <h1><%= t ".contact" %></h1>
  <h2>
      <%= t ".contactrb" %>
      <%= link_to t(".contactpage"), "https://www.railstutorial.org/contact" %>.
  </h2>
</div>
