<% provide :title, t(".all") %>
<h1><%= t ".all" %></h1>

<%= paginate @users, theme: "twitter-bootstrap-3" %>

<ul class="users">
  <%= render @users %>
</ul>

<%= paginate @users, theme: "twitter-bootstrap-3" %>
